<svg aria-hidden="true" class="h-full w-full" fill="none" role="presentation" viewBox="0 0 32 32">
  <title>Expand</title><g stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="M17.1719 7.89094C19.6784 7.34971 22.1954 6.77694 22.1954 6.77694C22.1954 6.77694 21.6069 9.2887 21.0656 11.7952" stroke="currentColor"></path><path d="M20.9287 7.64355C19.2052 9.36711 19.1579 9.31981 17.4291 11.0486L15.8414 12.7035" stroke="currentColor"></path><path d="M11.436 20.7258C8.92953 21.267 6.41251 21.8398 6.41251 21.8398C6.41251 21.8398 7.00104 19.328 7.54228 16.8215" stroke="currentColor"></path><path d="M7.6792 20.9731C9.40275 19.2496 9.45004 19.2969 11.1788 17.5681L12.7666 15.9132" stroke="currentColor"></path></g>
</svg>
